.product_detail_container {
    margin: 2rem;
}

.product_detail_content {
    display: flex;
    flex-wrap: wrap;
}

/* CONTAINER *************************************************************************************/

.product_detail {
    margin: 1rem auto;
    display: block;
    border-radius: 1rem;
    background-color: white !important;
}

.product_detail .detail_row {
    border: 1px solid red;
    margin: auto;
    display: flex;
}

/* CONTAINER LEFT ********************************************************************************/

.product_detail .card_left {
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_detail .card_left .img {
    margin: 0.5rem;
    max-width: 14rem;
    max-height: 15rem;
}

/* CONTAINER CENTER ******************************************************************************/

.product_container_s .card_center {
    padding: 0;
    height: 15rem;
    width: 30rem;
}

.product_container_s .card_center .brand {
    margin: 0;
    height: 2rem;
    width: 30rem;
    padding: .25rem 0 0 1rem;
    line-height: 2rem;
    font-size: 1.25rem;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
}

.product_container_s .card_center .name {
    margin: 0;
    padding: 0 1rem;
    height: 2rem;
    width: 30rem;
    line-height: 2rem;
    font-size: .90rem;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
}

.product_container_s .card_center .list {
    padding-left: 2rem;
    height: 9rem;
    margin: 0;
    width: 30rem;
}

.product_container_s .card_center .li {
    font-size: 0.875rem;
    padding-right: 1rem;
    line-height: 1.125rem;
    text-align: justify;
    overflow-wrap: break-word;
    margin: 0;
    width: 28rem;
}

.product_container_s .card_center .rate {
    margin: 0;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

/* CONTAINER RIGHT *******************************************************************************/

.product_container_s .card_right {
    height: 15rem;
    width: 10rem;
}

.product_container_s .card_right .price_1 {
    text-align: right;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    text-decoration: line-through;
    color: red;
    margin: 0;
    padding-right: 1rem;
}

.product_container_s .card_right .price_2 {
    text-align: right;
    height: 3rem;
    line-height: 3rem;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 1rem 0 0;
    padding-right: 1rem;
}

.product_container_s .card_right .message {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    height: 2rem;
    line-height: 2rem;
    color: red;
    margin: 0;
}

.product_container_s .card_right .button {
    margin: 0;
    align-items: center;
    text-align: center;
    width: 10rem;
}

.product_container_s .card_right .button button {
    margin: 1rem auto 0;
    align-items: center;
    text-align: center;
    width: 8rem;
    height: 1.75rem;
    border-radius: 1rem;
    border: none;
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
    background-color: black;
}