.footer {
    margin: 2rem 0 0;
    width: 100%;
    line-height: 3rem;
    font-size: 0.75rem;
    height: 3rem;
    background-color: black;
    text-align: center;
}

.footer .link {
    color: white;
    padding: 0 1rem;
}

.footer .pipe {
    border-left: 1px solid white;
}